@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Yeseva+One&display=swap");

:root {
  --background-body: #131313;
  --text-color-default: #fff;
  --text-color-h: #E3B873;
  --text-color-hna: rgb(256,256,256,0.3);
}

html {
  color: var(--text-color-default);
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}


h2,h3,h4{
  color: var(--text-color-h);
  font-family: "Yeseva One", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  margin: 0;
}

ul li {
  list-style: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}



main {
  width: 1440px;
  height: 783px;
  background-color: var(--background-body);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 107px 134px 124px 134px;
}

.slider {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto 679px;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:  
  ". . slider-menu"
  "slider__info-title slider__info-title slider__image"
  "slider__info-city slider__info-area slider__image"
  "slider__info-reptime slider__info-cost slider__image"
  "slider__nav slider__nav slider__image"
  ;
}

.slider-menu{
  grid-area: slider-menu;
  vertical-align: top;
}

.slider-menu__items{
  display: flex;
  padding-left: 0px;
  padding-right: 56px;
  justify-content: space-between;
  margin: 0;
}

.slider-menu__item{
  color: var(--text-color-hna);

  font-family: "Yeseva One", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.slider-menu__item:hover{
  cursor: pointer;
}

.slider-menu__item.active{
  color: var(--text-color-h);
}

.slider__info-title {
  grid-area: slider__info-title;
  padding-right: 50px;
}
.slider__info-title>h2 {
  margin-top: 0;
}

.slider__image {
  grid-area: slider__image;
  width: 679px;
  height: 482px;
  background-image: url(../img/image1.png);
  background-size: cover;
  background-position: center center;
  background-position-x: 100%;
}

.slider__info-city{
  grid-area: slider__info-city;
}

.slider__info-area {
  grid-area: slider__info-area ;
}

.slider__info-reptime {
 grid-area: slider__info-reptime;
}

.slider__info-cost{
  grid-area: slider__info-cost;
}

.slider__nav{
  grid-area: slider__nav;
  display: flex;
  gap: 20px;
  align-items: center;
}

.slider__dots {
  display: flex;
  justify-content: center;

  left: 0;
  bottom: -20px;
}

.slider__dots-item {
  width: 10px;
  height: 10px;
  background: gray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.4s ease;
}

.slider__dots-item:hover, .slider__dots-item.active {
  background: white;
}

.slider__arrow{
  cursor: pointer;
}