@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Yeseva+One&display=swap");

:root {
  --background-body: #131313;
  --text-color-default: #fff;
  --text-color-h: #E3B873;
  --text-color-hna: rgb(256,256,256,0.3);
}

html {
  color: var(--text-color-default);
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

div {
  border-color: blanchedalmond;
  border-style: solid;
  border-width: 1px;
}

main {
  width: 1440px;
  height: 783px;
  background-color: var(--background-body);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 107px 134px 124px 134px;
}

.slider {
  display: grid;
  grid-template-columns: auto,auto,auto;
  grid-row: auto,auto,auto,auto,auto;
  grid-template-areas:  
  ". . slider-menu"
  "slider__info-title slider__info-title slider__image"
  "slider__info-city slider__info-area slider__image"
  "slider__info-reptime slider__info-cost slider__image"
  "slider__nav slider__nav slider__image"
  ;
}

.slider-menu{
  grid-area: slider-menu;
}

.slider-menu__items{
  display: flex;
}

.slider__info-title {
  grid-area: slider__info-title;
}

.slider__image {
  grid-area: slider__image;
}

.slider__info-city{
  grid-area: slider__info-city;
}

.slider__info-area {
  grid-area: slider__info-area ;
}

.slider__info-reptime {
 grid-area: slider__info-reptime;
}

.slider__info-cost{
  grid-area: slider__info-cost;
}

.slider__nav{
  grid-area: slider__nav;
}